################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Assignment13750/DesignTimeBuild/.dtbcache.v2
/.vs/Assignment13750/FileContentIndex/372cac93-7fab-4186-b19f-3f0dad2d5e7e.vsidx
/.vs/Assignment13750/FileContentIndex/3a11eb39-910f-4456-b297-17de5ad58a96.vsidx
/QuantumTest/obj/Debug/net6.0/QuantumTest.csproj.AssemblyReference.cache
/Assignment13750/obj/Debug/net6.0/refint/Assignment13750.dll
/Assignment13750/obj/Debug/net6.0/ref/Assignment13750.dll
/Assignment13750/obj/Debug/net6.0/Assignment13750.pdb
/Assignment13750/obj/Debug/net6.0/Assignment13750.dll
/Assignment13750/obj/Debug/net6.0/Assignment13750.csproj.CoreCompileInputs.cache
/Assignment13750/bin/Debug/net6.0/Assignment13750.pdb
/Assignment13750/bin/Debug/net6.0/Assignment13750.dll
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectEvaluation/assignment13750.projects.v6.1
/.vs/ProjectEvaluation/assignment13750.metadata.v6.1
/.vs/Group_Project_3750/v17/workspaceFileList.bin
/.vs/Assignment13750/v17/.suo
/.vs/Assignment13750/v17/.futdcache.v2
/.vs/Assignment13750/FileContentIndex/f14d62f7-0c19-413c-a526-e22847707b48.vsidx
/.vs/Assignment13750/FileContentIndex/df2e7161-1194-4934-b8ee-cd9cd7dcb864.vsidx
/.vs/Assignment13750/FileContentIndex/b24519e3-eea3-47df-93f2-2dd3888a16e1.vsidx
/.vs/Assignment13750/FileContentIndex/a2acf68a-5690-4c1e-ba8f-c141cda80952.vsidx
/.vs/Assignment13750/FileContentIndex/89e6851f-8e08-4e00-a035-df3a14df3681.vsidx
/.vs/Assignment13750/FileContentIndex/74065ad1-388c-46de-b32e-31ffd323961d.vsidx
/.vs/Assignment13750/FileContentIndex/68b25b54-5cf6-4e4f-82f6-b9495add9b66.vsidx
/.vs/Assignment13750/FileContentIndex/e55588e9-23a2-4a7a-8860-077eee70f781.vsidx
/.vs/Assignment13750/FileContentIndex/84e52b81-7c27-4c93-ae43-4849dc4dacf5.vsidx
/.vs/Assignment13750/FileContentIndex/82b37b2c-bf4e-4111-8625-c977bb6e39d5.vsidx
/.vs/Assignment13750/FileContentIndex/1f0d5265-7719-4e09-9186-311604868c6f.vsidx
/.vs/Assignment13750/FileContentIndex/42bf3782-f567-4b63-ad61-4d82e505d6a1.vsidx
/.vs/Assignment13750/FileContentIndex/c5b7c2d6-ab7e-4e7c-9740-12fdac79fab3.vsidx
/.vs/Assignment13750/FileContentIndex/12677e1b-93db-4173-9fa3-2f9b5926e178.vsidx
/.vs/Assignment13750/FileContentIndex/1bb313b6-a4c9-4bbd-801a-67ec831e4ae0.vsidx
/.vs/Assignment13750/FileContentIndex/922d8575-088d-4c3d-b187-207d3688fe45.vsidx
/.vs/Assignment13750/FileContentIndex/22e775f2-6882-4763-922b-1b66e14fae4f.vsidx
/Assignment13750/wwwroot/Images/Submissions/26_7d3bea49-0ef7-45c1-bcf8-a5754fbc676e.exe
/.vs/Assignment13750/FileContentIndex/299aed85-4c64-46ef-98f5-8f35d4df6c33.vsidx
