@page "{id}"
@model Assignment13750.Pages.TeacherPages.DeleteAssignmentModel
@{
}
<h1>Delete Class @Model.Assignment.Name</h1>
<form method="post">
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />

    </div>
</form>